html {
    background-color: #eeeeee;
    opacity: 0.7;
    background-image: radial-gradient(#919191 1.25px, #eeeeee 1.25px);
    background-size: 25px 25px;
    transition: background-color 0.3s ease;
}

html.dark {
    background-color: #09090B;
    background-image: radial-gradient(#26262c 1.25px, #09090B 1.25px);
}