@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Animación para los botones de agregar LifeLine */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInTooltip {
    from {
        opacity: 0;
        transform: translateX(-6px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Dark mode toggle switch */
.toggle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #0084D1;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  transition: background-color 500ms;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
  line-height: 0.1;
}

.icon--moon {
  transition-delay: 200ms;
  color: #0084D1;
}

.icon--sun {
  transform: scale(0);
  color: #0084D1;
}

#switch:checked + .icon--moon,
#switch-mobile:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun,
#switch-mobile:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}